@import url('https://fonts.cdnfonts.com/css/poppins');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    background-color: #efeeee;
    background-image: url("../img/background-test.png");
}




.icons{
    width: 15px;
    height: 15px;
}

.imgGlobe{
    height: 30vh;
    position: absolute;
    right: 380px;

}
section{
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contain{
    background: #efeeee;
    width: 35%;
    height: 15vh;
    position: relative;
    left: -30px;
    display: flex;
    align-items: center;
    padding: 0 0 0 30px;
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.3), -4px -4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

}

.insideDivide{
    width: 75%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.iconsLocation{
    height: 20px;
    width: 20px ;
    margin-bottom: 4px;
}
.iconsLocationStart{
    height: 15px;
    width: 15px;
    margin-bottom: 4px;
}
.circleTransition{
    height: 3px;
    width: 3px;
}
.circles{
    display: flex;
    flex-direction: column;
    width: 15px;
    gap: 1px;
    position: relative;
    align-items: center;
    margin-bottom: 3px;
}

button{
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1), -4px -4px 6px white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 20%;
    height: 100%;
    padding: 5px;
    text-align: center;
    background: #82cdd6;
    cursor: pointer;
}

.underlineTravel{
    display: flex;
    height: 30%;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

footer{
    display: flex;
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
}

#search input{
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1), -4px -4px 6px white;
    border-radius: 10px;
}

.connectFooter, #echelleFooter, #signFooter{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    border-radius: 15px;
    background-color: #efeeee;
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.3), -4px -4px 6px rgba(0, 0, 0, 0.3);
}
.connectFooter, #echelleFooter, #signFooter{
    height: 20%;
}




h2{
    font-size: 0.9em;
}

.connectFooter{
    left: 20px;
    cursor: pointer;
    flex-direction: row;
}

#echelleFooter{
    width: 5%;
    bottom: 65px;
}

#signFooter, .connectFooter{
    bottom: 25px;
    width: 10%;
}
#echelleFooter, #signFooter{
    right: 20px;
}
#echelleFooter .icons{
    margin-top: 5px;
}


.formConnect{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10%;
}

.lines{
    display: flex;
    width: 100%;
    height: 40%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1), -4px -4px 6px white;
    border-radius: 10px;
}

a{
    color: black;
}

